
.blue-text {
    color: var(--theme);
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
/* .charts-wrapper {
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin: 2rem;
    height: auto;
    padding: 2rem;
    border-radius: 0.5;
    box-shadow: var(--sadow);
} */
